 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
 
 body{
  background-color: darkgray;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
 }

 h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: bold;
 }
 
 .container {
  border: 3px solid;
  border-radius: 10px;
  height: 580px;
  max-width: 400px;
 
  background-color: black;
 }

 .display {
  display: flex;
  justify-content: center;
 }

 textarea {
  width: 100%;
  max-height: 100px;
  margin: 5px 5px 0 5px;
  border-radius: 10px;
  background-color: lightslategrey;
  color: black;
  font-size: 60px;
  resize: none;
 }

 .btn-line-one,
 .btn-line-two,
 .btn-line-three,
 .btn-line-four,
 .btn-line-five
  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px 0;
  /* border: 1px solid green; */
 }

 button {
  height: 80px;
  width: 90px;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
 }

 .zero {
  width: 185px;
 }

 .operator {
  background-color: aqua;
 }

 .number,
 .decimal {
  background-color: fuchsia;
 }

 .equal {
  background-color: gold;
 }

 .clear,
 .backspace {
  background-color: orange;
 }
